body {
    background-color: #F9F9F9;
    margin: 10;
    padding-bottom: 100px;
}

.img {
    height: 90px;
    width: auto;
}

.navbar {
    background-color:#B76E79;
    padding: 150x;
    overflow: hidden;

}

.contient-nav {
    display:flex;         
    justify-content:flex-end;        
    gap: 15px   ;         
    margin-left:auto;     

}
.contient-nav a {
    text-decoration:none;
    color: #d4b773;
    margin: 0 10px; 
    font-weight:bold;
    
}


.nav a {
    color: rgb(24, 24, 23);
    text-decoration: none;
    margin: 0 300;
    font-weight: bold;
    float: right;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

#orderForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5c3c3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: rgb(19, 18, 18);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #444;
}








body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

.product-card {
    max-width: 2000px;
    margin: 0 auto;
    background-color: #E1C4A3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}


.product-image {
    width: 100%;
    height: 411px;
    object-fit: contain;

}

.product-info {
    padding: 30px;
}

h2 {
    color: #b76e79;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 40px;
}

.features {
    margin-bottom: 20px;
    padding-left: 20px;
}

.additional-info {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
}

.buy-button {
    background-color: #474644;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #E1C4A3;
}

@media screen and (max-width: 600px) {
    .product-card {
        flex-direction: column;
    }

    .product-image {
        height: auto;
    }
}